<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>

    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                {% if current_user.avatar %}
                    <img class="rounded-circle me-lg-2" src="{{ url_for('static', filename='/uploads/' + current_user.avatar) }}" alt="" style="width: 40px; height: 40px;">
                {% else %}
                    <img class="rounded-circle me-lg-2" src="{{ url_for('static', filename='/img/user.png') }}" alt="" style="width: 40px; height: 40px;">
                {% endif %}

                <span class="d-none d-lg-inline-flex">Olá, {{ current_user.name }}</span>
            </a>

            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="{{ url_for('user_routes.page_profile') }}" class="dropdown-item">Perfil</a>
                <a href="{{ url_for('user_routes.page_logout') }}" class="dropdown-item">Sair</a>
            </div>
        </div>
    </div>
</nav>