<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="{{ url_for('home_routes.page_home') }}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>FlaskWeb</h3>
        </a>

        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                {% if current_user.avatar %}
                    <img class="rounded-circle" src="{{ url_for('static', filename='/uploads/' + current_user.avatar) }}" alt="" style="width: 40px; height: 40px;">
                {% else %}
                    <img class="rounded-circle" src="{{ url_for('static', filename='/img/user.png') }}" alt="" style="width: 40px; height: 40px;">
                {% endif %}
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>

            <div class="ms-3">
                <h6 class="mb-0" style="font-size: 13px;">{{ current_user.email }}</h6>
                <span style="font-size: 12px;">{{ current_user.name }}</span>
            </div>
        </div>

        <div class="navbar-nav w-100">
            <a href="{{ url_for('home_routes.page_home') }}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Home</a>
            <a href="{{ url_for('category_routes.page_categories') }}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Categorias</a>
            <a href="{{ url_for('product_routes.page_products') }}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Produtos</a>
        </div>
    </nav>
</div>