{% extends 'base.html' %}

{% block title %} Produtos {% endblock %}

{% block content %}
    <div class="col-sm-12 col-xl-8 pt-5 ps-5">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Novo Produto</h6>

            <form class="form-product" method="POST">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.category.label(class="form-label") }}
                    {{ form.category(class="form-select form-select-sm mb-3") }}
                </div>

                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}